a:active, a:link, a:visited {
    color: rgb(29, 113, 176);
    font-weight: bold;
}

.property-tag {
    padding: 3px 5px;
    -webkit-border-radius: 3px 3px;
    border: solid 1px rgb(29, 113, 176);
    background: rgb(29, 113, 176);
    margin-right: 1px;
    margin-bottom: 1px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 1;
}

#logo {
    background-color: transparent;
    background-image: url("../img/bioplatforms_logo.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0pt 0pt;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    cursor:pointer;
    height: 84px;
    left: -2px;
    position: absolute;
    width: 150px;
}

#info {
    width: 100%;
    height: 325px;
    background: url(../img/new_login/blue/bg_etc.png) repeat-x;
    overflow: hidden;
    display: none;
}

.study_id_button span {
    font-size: 11px;
    font-weight: normal;
    position: absolute;
    vertical-align: top;
    text-align: center;
    opacity: 1;
    color: #fff;
    background: rgb(29, 113, 176);
    padding: 3px 5px;
    border: 1px solid silver;
    -webkit-border-radius: 3px 5px;
    -webkit-transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
}

.moreinformation a:link {
    font-size: 11px;
    padding: 3px 3px;
    border-color: rgb(29, 113, 176);
    -webkit-border-radius: 3px 3px;
    background: #FFF;
    color: rgb(29, 113, 176);
    text-decoration: none;
    font-weight: lighter;
}

.moreinformation a:visited {
    color: rgb(29, 113, 176);
}

.moreinformation a:hover {
    background: rgb(29, 113, 176);
    color: #FFF;
}

.moreinformation a:active {
    color: rgb(29, 113, 176);
}

.assaycount-tag {
    padding: 3px 5px;
    -webkit-border-radius: 3px 3px;
    border: none;
    background: #fff;
    margin-right: 1px;
    color: rgb(29, 113, 176);
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: .9;
    width: 40px;
}

#info_section {
    width: 267px;
    height: 170px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 110px 18px 0px 46px;
    background-image: url(../img/new_login/blue/login.png);
    background-repeat: no-repeat;
    background-position: top;
}

#logged_in_section {
    width: 144px;
    height: 162px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 120px 18px 0px 16px;
    background-image: url(../img/new_login/blue/you_are_logged_in.png);
    background-repeat: no-repeat;
    background-position: top;
}

.username-text {
    color: rgb(29, 113, 176);
    font-weight: bold;
}

#info_done h3 {
    width: 183px;
    height: 83px;
    background: url(../img/new_login/blue/done.png) no-repeat top right;
    text-indent: -9999px;
}

#info_register h3 {
    width: 161px;
    height: 25px;
    background: url(../img/new_login/blue/title_register_here.png) no-repeat top right;
    text-indent: -9999px;
}
